.theme-icon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

/* Show correct icon depending on theme */
html[data-theme='dark'] .theme-icon-image.dark-only {
  display: block;
}
html[data-theme='light'] .theme-icon-image.light-only {
  display: block;
}
